.card-top {
   
    display: flex;
    flex-direction: column;
       
}
.item img {
    width: 60px;
    margin-top: 25px;
}

.item {
    
    margin: 0px 12px;
    text-align: center;
    
}

.item a:hover {
    color: blue;
}
a{
    text-decoration: none;
    color: rgb(250, 245, 245);
}

.example-card {
    width: 300px;
    height: 350px;
    padding: 20px;
    margin: 40px;
    margin-bottom: 8px;

  }

.example-card img {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: transform .2s ease-in-out;
   
}

.example-card img:hover {
    transition: transform .4s ease-in-out;
    transform: scale(1.2);

}
p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }
button{
    background-color:rgb(9, 20, 180);
    color: white; 
    margin-left: 20%;
    width: 120px;
    height: 33px;
    
}
h5{
    font-weight:bold;
}
h4{
    font-weight:bold;
}
.clsallitem{
    display: flex;
    flex-direction:row;
    margin-left: 0px;
    padding-left: 60px;
}
.flex{
    display: flex;
}

@media (min-width: 100px) and (max-width: 504px) 
{
    .clsallitem{
        display: flex;
        flex-direction:column;
        margin:0px;
        padding-left: 0px;
        
    }
    h5{
        font-size: xx-small;
    }
    .flex{
        padding: 0px;
    }
    .container-fluid{
        padding: 0px ;
    }
}
@media (min-width: 503px) and (max-width: 900px) 
{
    .clsallitem{
        display: flex;
        flex-direction:column;
        padding-left: 15px;
    }
    .flex{
        padding: 15px;
    }
    .container-fluid{
        padding: 15px ;
    }
}

